Docment Generator LLM Chain_v2 .json
{
  "name": "Docment Generator LLM Chain",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -336,
        144
      ],
      "id": "7a83cbb9-0e60-412e-894d-39d4a591b220",
      "name": "When chat message received",
      "webhookId": "994015aa-9661-411c-9560-b930548eea3c"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}\n\n<criteria>\n1. Must have at least 3 main sections\n2. Must include both benefits and challenges\n3. Must address ethical considerations\n4. Must inculde future perspectives\n5. Must have clear logical flow between sections\n</criteria>",
        "messages": {
          "messageValues": [
            {
              "message": "=Your task is to evaluate if the outline meets all specified criteria.\n\nYou must return ONLY \"PASS\" or \"FAIL\" followed by a brief explanation.\n\nReview the outline (delimited by <outline></outline>) against the criteria (delimited by <criteria></criteria>)."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        240,
        144
      ],
      "id": "5c3a9847-e702-4fd3-b059-88a980721d6f",
      "name": "Check Outline Criteria"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        320,
        368
      ],
      "id": "50342a38-4a24-47a7-a640-7e759c01b53c",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "ByqF9LHRV5JS2qox",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e3e735ec-4323-4b32-9a30-668728b159e9",
              "name": "grade",
              "value": "={{ $json.text  }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        592,
        144
      ],
      "id": "4383f76e-283d-4296-985f-9914a39ae479",
      "name": "Set Grade"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38b658a8-8244-4f8a-8136-8ba6949e8ce5",
              "name": "text",
              "value": "=FAILED: Here is what the model produced:\n\n{{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1104,
        288
      ],
      "id": "0e3ec0b4-8821-4bf6-aa67-1892c359b259",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -48,
        368
      ],
      "id": "a051b48f-3327-4291-89a8-750763cf5532",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "ByqF9LHRV5JS2qox",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1120,
        112
      ],
      "id": "9e543d27-b6d3-4d38-b141-cb552b8f06bb",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "ByqF9LHRV5JS2qox",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please expand this outline into detailed sections:\n\n{{ $('Generate Outline').item.json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Your task is to expand each section of the approved outline into detailed paragraphs. \n\nFor each section: \n1. Maintain the original structure\n2. Add 2-3 paragraphs of content\n3. Include relevant examples or supporting points \n\nKeep the expand content between <document> and </document> tags. "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1040,
        -112
      ],
      "id": "569df979-cd41-416d-863f-f00ff3f6a5ce",
      "name": "Expand Outline Sections"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Please convert these expanded sections into a polished document: \n\n{{ $json.text }}",
        "messages": {
          "messageValues": [
            {
              "message": "=Your task is to transform the expanded sections into a polished, cohesive document.\n\n1. Add smooth transitions between sections\n2. Use a professional, academic tone and style\n3. Make sure to include an introduction and conclusion\n\nOutput the final document without any tags. "
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1392,
        -16
      ],
      "id": "99846f1c-6ca2-415c-9afd-aba9fb430e85",
      "name": "Refine and Polish Documents"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1472,
        224
      ],
      "id": "a01a52de-7c13-4423-92b0-e560a158c897",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "ByqF9LHRV5JS2qox",
          "name": "OpenRouter account 2"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=Your task is to create a well-structured outline for a document about the given topic.\n\nFormat the outline with:\n\n  - Main section marked with numbers (1., 2., 3., etc)\n  - Subsections marked with letters (a,, b., c., etc)\n  - Brief descriptions for each section\n\nOutput the outline between <outline> and </outline> tags.\n"
            },
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Topic: {{ $json.chatInput }}  \n\nStyle Guide:   \n\n  - Use professional, academic tone   \n  - Include real-world examples   \n  - Keep paragraphs concise (3-4 sentences)   \n  - Use active voice   \n  - Target audience: Healthcare professionals  \n\nPlease generate a detailed outline"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -96,
        144
      ],
      "id": "c99e9baa-af54-4558-816e-46e38227c3b1",
      "name": "Generate Outline"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a7eb26af-e0d5-45db-9072-1f120f47c72f",
              "leftValue": "={{ $json.grade }}",
              "rightValue": "PASS",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        144
      ],
      "id": "14d4b695-62cb-43ec-992e-4f4c59dcaa38",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Generate Outline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Check Outline Criteria",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check Outline Criteria": {
      "main": [
        [
          {
            "node": "Set Grade",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Grade": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Outline",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Expand Outline Sections",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Expand Outline Sections": {
      "main": [
        [
          {
            "node": "Refine and Polish Documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Refine and Polish Documents",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Outline": {
      "main": [
        [
          {
            "node": "Check Outline Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Expand Outline Sections",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1a764362-71ff-4ffd-993b-8b4942548d96",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b38842933aad98fa2f6fe55ab43a530e6727f8f5dd4b8295916be748f33f431"
  },
  "id": "afKGavyDe6oaa7O4",
  "tags": []
}
